:root {
  --font-avenir-next-thin: "Avenir-Next-Thin", Times, sans-serif;
  --font-avenir-next-regular: "Avenir-Next-Regular", Tahoma, sans-serif;
  --font-avenir-next-medium: "Avenir-Next-Medium", Tahoma, sans-serif;
  --font-avenir-next-demi: "Avenir-Next-Demi", Tahoma, sans-serif;
  --font-avenir-next-bold: "Avenir-Next-Bold", Tahoma, sans-serif;
  --font-miller-text-regular: "Miller-Text-Regular", Tahoma, sans-serif;
  --font-miller-text-italic: "Miller-Text-Regular", Tahoma, sans-serif;
  --font-miller-text-bold-italic: "Miller-Text-Bold-Italic", Tahoma, sans-serif;
}

@font-face {
  font-family: "Avenir-Next-Thin";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("~assets/fonts/Avenir-Next-Thin.woff2") format("woff2");
}

@font-face {
  font-family: "Avenir-Next-Regular";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("~assets/fonts/Avenir-Next-Regular.woff") format("woff");
}

@font-face {
  font-family: "Avenir-Next-Medium";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("~assets/fonts/Avenir-Next-Medium.woff") format("woff");
}

@font-face {
  font-family: "Avenir-Next-Demi";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("~assets/fonts/Avenir-Next-Demi.woff2") format("woff2");
}

@font-face {
  font-family: "Avenir-Next-Bold";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("~assets/fonts/Avenir-Next-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Miller-Text-Regular";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("~assets/fonts/Miller-Text-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Miller-Text-Italic";
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src: url("~assets/fonts/Miller-Text-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "Miller-Text-Bold-Italic";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("~assets/fonts/Miller-Text-Bold-Italic.woff2") format("woff2");
}
