a {
  text-decoration: none;
  color: var(--color-dark-1);
  display: inline-block;
  position: relative;
  z-index: 20;
  padding: 2em;
  margin: -2em;
}

.navbar {
  color: var(--color-dark-1);
}

.logo {
  padding-left: 80px;
  margin-top: 23px;
}

.reservar {
  justify-content: center;
  position: relative;
  z-index: 10;
  margin-left: 25px;

  a {
    color: var(--color-cream-1);
  }

  &:before {
    width: 100%;
    background-color: var(--color-sky-1);
    height: 80px;
    content: "";
    position: absolute;
    top: 24px;
    left: 1px;
    z-index: -10;
  }
}

ul {
  display: flex;
  align-items: baseline;
  margin: 0 100px 0 0;
  padding: 0;
  height: 100%;

  li {
    list-style: none;
    font-family: var(--font-avenir-next-regular);
    font-size: 20px;
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
}

header {
  background-color: var(--color-cream-1);
  height: 104px;
  display: flex;
  z-index: -20;
}

nav {
  position: relative;
  margin-left: auto;
}
